/* Estilos de la plantila de las campanias */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
header {
    background-color: #1abc9c; 
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

/* Estilos del contenedor de la campania */
.campania-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

/* Estilos del formulario de campania */
.campania-form {
    display: none; /* Inicialmente oculto */
}

.campania-form h3 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="number"],
.form-group textarea,
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

/* Estilos del boton para crear una nueva campania */
.btn-campania {
    background-color: #28a745; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
    display: inline-flex;
    align-items: center;
}

.btn-campania:hover {
    background-color: #218838; /* Darker green on hover */
}

/* Botones de interaccion (like, join) */
.interact-container form {
    display: inline-block;
    margin: 10px;
}

.interact-container button {
    background-color: #1abc9c; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.interact-container button:hover {
    background-color: #159a7d; /* Darker teal on hover */
}

/* Pie de pagina */
footer {
    text-align: center;
    padding: 10px;
    background-color: #1abc9c;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* Estilos del boton para mostrar el formulario de campania */
.prompt-login {
    margin: 20px;
}

.prompt-login button {
    background-color: #45a049;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.prompt-login button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-error,
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}


