/* Estilos para el formulario de denuncia */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
    margin: 20px;
}

/* Contenedor que se carga inicialmente y es donde apareceran las denuncias existentes*/
.denuncias-container {
    background-color: #fff; 
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

/* Forma que contiene al formulario */
.load-form {
    text-align: center;
    margin-top: 20px;
}

/* Boton que cuando se hace click carga el formulario para realizar una denuncia */
.load-form button {
    background-color: #f44336; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.load-form button:hover {
    background-color: #d32f2f; /* Darker shade of red on hover */
}

/* Heading style */
h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

/* Table container style */
.table-container {
    width: 80%;
    margin: 20px auto;
    overflow-x: auto;
}

/* Table style */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Table header style */
thead {
    background-color: #007bff;
    color: #fff;
}

thead th {
    padding: 15px;
    text-align: left;
}

/* Table body style */
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

/* Link style for evidence */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Style for the message if no denuncias are available */
p {
    text-align: center;
    color: #666;
    font-size: 16px;
}

