/* static/styles/footer.css */
footer {
    background-color: #666666;
    color: #fff;
    padding: 40px 0;
    text-align: center;
    font-family: Arial, sans-serif;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    border-bottom: 1px solid #444;
}

.footer-section {
    width: 30%;
}

.footer-section h4 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-section p {
    font-size: 0.7rem;
    color: #000000;
}

.footer-section ul, .footer-section li {
    font-size: 14px;
    color: #000000;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #000000;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: #27ae60;
    text-decoration: none;
}

.footer-section .social-icons {
    margin-top: 15px;
}

.social-icons a {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #27ae60;
}

.footer-bottom {
    padding-top: 20px;
}

.footer-bottom p {
    color: #000000;
    font-size: 14px;
}
