/* Estilos de la plantilla del foro */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
    margin: 20px;
}

/* Contenedor de las listas de conversaciones y debates */
.forum-container {
    background-color: #fff; 
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Formulario para abrir una nueva conversacion */
.forum-form {
    margin-bottom: 30px;
}

h2 {
    text-align: center;
}

h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

/* Estilos de los inputs del formulario */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

textarea {
    resize: vertical;
}

/* Estilos de los botones de la plantilla  */
#btnDebate,
#btnPregunta,
#btnHilo {
    background-color: #4CAF50; /* Green button color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilo hover para los botones */
#btnDebate:hover,
#btnPregunta:hover,
#btnHilo:hover {
    background-color: #45a049; /* Darker shade of green on hover */
}

/* Estilos de los botones de las formas */
.btn-debate,
.btn-pregunta,
.btn-hilo {
    background-color: #007bff; /* Green button color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilo hover para los botones */
.btn-debate:hover,
.btn-pregunta:hover,
.btn-hilo:hover {
    background-color: #007bff; /* Darker shade of green on hover */
}


/* Para abrir un nuevo hilo el usuario antes tendra que iniciar sesion */
.prompt-login {
    text-align: center;
    margin-top: 20px;
}

.prompt-login button {
    margin: 0 10px;
}

.prompt-login button::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-size: contain;
}

#btnPregunta::before {
    content: "\1F4AC"; /* Unicode simbolo '📬' para el boton de preguntas */
}

#btnDebate::before {
    content: "\1F5E3"; /* Unicode simlbolo '🗣️' para un nuevo debate*/
}

#btnHilo::before {
    content: "\1F41A"; /* Unicode simbolo '🐚' para un nuevo hilo*/
}


.ask-question {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.ask-question h3 {
    margin-top: 0;
    color: #333;
}

#question-input {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    resize: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

#publish-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#publish-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}


.new-debate {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.new-debate h3 {
    margin-top: 0;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
}

input[type="text"],
textarea {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0 10px 0;
    font-size: 16px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    resize: none;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

a {
    color: #007bff;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}


.new-conversation {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.new-conversation h3 {
    margin-top: 0;
    color: #333;
}

.new-conversation label {
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
}

.new-conversation input[type="text"],
.new-conversation textarea {
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0 10px 0;
    font-size: 16px;
    resize: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.new-conversation button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 20px;
}

.new-conversation button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.new-conversation a {
    color: #007bff;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}

.new-conversation a:hover {
    text-decoration: underline;
}

/* Estilos para los mensajes informativos */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-error,
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.fixed-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #45A049;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    margin-bottom: 25px;
    z-index: 1000;
}

.fixed-menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.fixed-menu a:hover {
    background-color: #575757;
}

section {
    margin-bottom: 20px;
}

section h3 {
    margin-bottom: 10px;
}

section ul {
    list-style: none;
    padding: 0;
}

section li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

section li h4 {
    margin: 0 0 5px 0;
}

section li p {
    margin: 0;
}

header {
    padding: 40px;
}

.responder-button {
    background-color: #ccc; /* Gray background */
    color: #333;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 10px;
}

.responder-button:hover {
    background-color: #bbb; /* Darker gray on hover */
}

/* Styles for the answer form */
.answer-form {
    margin-top: 20px;
}

.answer-form textarea {
    width: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    resize: none;
    margin-bottom: 10px;
}


.submit-answer-button {
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit-answer-button:hover {
    background-color: #0056b3; 
    transform: scale(1.05);
}