body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#result {
    margin-top: 2rem;
    text-align: center;
}

#result img {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
}

mage-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.image-icon img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}


@media (max-width: 768px) {
    header {
        padding: 0.75rem;
        font-size: 1.25rem;
    }

    main {
        padding: 0.75rem;
    }

    form {
        width: 100%;
        padding: 0;
    }

    button {
        padding: 0.5rem 1rem;
        font-size: 14px;
    }

    #result img {
        margin-top: 1rem;
    }

    .mage-upload {
        flex-direction: column;
    }

    .image-icon img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 0.5rem;
        font-size: 1rem;
    }

    main {
        padding: 0.5rem;
    }

    form {
        width: 100%;
    }

    button {
        padding: 0.5rem;
        font-size: 12px;
    }

    #result img {
        margin-top: 1rem;
    }

    .mage-upload {
        flex-direction: column;
        margin: 10px 0;
    }

    .image-icon img {
        width: 30px;
        height: 30px;
    }
}
