/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;


}

#et-top-navigation {
    position: relative;
    background-color: #FFFFFF; /* Adjust based on your design */
    padding: 10px;
}

.hamburger {
    cursor: pointer;
    font-size: 24px;
    color: #007bff;
}

#menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50px; /* Adjust based on your layout */
    left: 0;
    background-color: #FFFFFF; /* Same as header background */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#menu-items li {
    padding: 10px 15px;
}

#menu-items li a {
    text-decoration: none;
    color: #000000; /* Link color */
}

.hidden {
    display: none;
}

/* Profile Container */
.profile-container {
    background-color: #fff;
    margin-top: 100px;
    width: 400px;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

/* Profile Header */
.profile-header h1 {

    font-size: 24px;
    color: #333;
}

.profile-header .email {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

/* Profile Picture */
.profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Profile Details */
.profile-details h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.profile-details p {
    font-size: 14px;
    color: #666;
}

/* Profile Actions */
.profile-actions {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    margin: 5px;
    cursor: pointer;
}

.btn-logout {
    background-color: #dc3545;
}

.btn:hover {
    opacity: 0.9;
}

.flash-messages {
    margin: 20px 0;
}

.flash-messages ul {
    list-style-type: none;
    padding: 0;
}

.flash-messages li.success {
    color: green;
    background-color: #e6ffe6;
    border: 1px solid green;
    padding: 10px;
    margin-bottom: 10px;
}

.flash-messages li.error {
    color: red;
    background-color: #ffe6e6;
    border: 1px solid red;
    padding: 10px;
    margin-bottom: 10px;
}
