/* Estilos de la plantilla de las publicaciones */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Estilos del logo */
.slogan {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    background-color: #007bff;
    color: #000000;

}

/* Estilo para la imagen del logo */
.logo img {
    margin-right: 300px;
}


.slogan a {
    text-decoration: none;
    color: inherit;
}

a.header:hover {
    color: #666;
}

.slogan .header {
    font-size: 0.80em;
    color: #000000;
}


/* Estilos del menú */
.menu {
    list-style-type: none;
    padding: 30px 0;
    text-align: center;
    background-color: #007bff;
    color: #000000;
    position: relative;
    width: 100%;
    top: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0;
    position: fixed;
    z-index: 1000;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu li a {
    text-decoration: none;
    color: #000000;
    margin-left: 50px;
    font-size: 16px;
}

a.main :hover {
    text-decoration: #666666;
    color: #000000;
}

/* Estilos del hover para el menú */
.et_header_style_left #et-top-navigation nav > ul > li > a,
.et_header_style_left .et-fixed-header #et-top-navigation nav > ul > li > a {
    padding-bottom: 15px;
}

#top-menu li {
    padding-right: 5px;
}

#et-top-navigation {
    padding: 20px 0 !important;
}

#top-menu li a {
    background: #000000;
    padding: 15px 20px;
    border-radius: 3px;
}

#top-menu li a:hover,
#top-menu li li a:hover {
    color: #000000 !important;
}

#top-menu li a:hover {
    background: #007bff !important; /* Cambia el color de fondo al hacer hover */
}

#top-menu li.current-menu-item > a {
    background: #45a049; /* Cambia el color de fondo del enlace de la página actual */
}

#top-menu .menu-item-has-children > a:first-child:after {
    content: none;
}

.menu li a:hover {
    width: 100%;
}


/* General styles for the header */
#et-top-navigation {
    background-color: #007bff;
    padding: 20px;
    font-size: 24px;
    margin-left: -20px;
    margin-top: 47px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    position: fixed;
    width: 100%;

}

/* Dropdown select styles */
#menu-select {
    width: 300px;
    padding: 12px;
    font-size: 16px;
    background-color: #007bff;
    color: #000000;
    border: none;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;  /* Safari & Chrome */
    -moz-appearance: none;     /* Firefox */
    text-align: center;
    cursor: pointer;
}

/* Optgroup label styles */
#menu-select optgroup {
    font-weight: bold;
    color: #ffffff;
    background-color: #45a049;
}

/* Option styles */
#menu-select option {
    background-color: #007bff;
    color: #000000;
    padding: 10px;
}

/* Hover effects for options */
#menu-select option:hover {
    background-color: #27ae60;
    color: #000000;
}

/* Adjusting the select dropdown arrow */
#menu-select::-ms-expand {
    display: none;  /* Hides the default dropdown arrow for IE */
}

#menu-select:focus {
    outline: none;
    border-color: #45a049;
}

/* Ensuring the header and select dropdown are responsive */
@media (max-width: 768px) {
    #menu-select {
        width: 100%;
        font-size: 14px;
    }
}


/* Estilos del slogan */
.header {
    position: fixed;          /* Fijo en la parte superior */
    margin-top: 60px;                   /* Ubicado en la parte superior de la página */
    left: 0;
    width: 100%;              /* Ocupa el ancho completo de la pantalla */
    background-color: #45a049; /* Verde */
    color: #000000;            /* Texto blanco para mejor contraste */
    text-align: center;        /* Centrar el texto */
    padding: 15px 8px;           /* Espaciado arriba y abajo */
    font-size: 24px;           /* Tamaño de fuente */
    font-family: 'Arial', sans-serif; /* Tipografía simple */
    font-weight: bold;         /* Texto en negrita */
    box-shadow: 0px 4px 2px -2px gray; /* Sombra para darle un poco de relieve */
    z-index: 1000;
}

/* Seccion principal */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    margin-top: 60px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Subsecciones */
section {
    margin-bottom: 30px;
}

section h2 {
    color: #333;
}

section ul {
    padding: 0;
    list-style-type: none;
}

section ul li {
    margin-bottom: 20px;
}

/* Encabezado de las listas de publicaciones */
section ul li h3 {
    color: #1abc9c;
}

/* Parrafos de las listas de publicaciones */
section ul li p {
    color: #666;
    margin-bottom: 10px;
}

/* Estilos del texto continuar leyendo */
section ul li p a {
    color: #1abc9c;
    text-decoration: none;
}

section ul li p a:hover {
    text-decoration: underline;
}

/* Pie de pagina */
footer {
    text-align: center;
    margin-top: 50px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    background-color: #f5f5f5;
    color: #666;
}

/* Estilos del formulario de suscripcion por correo */
.subscription-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.subscription-form h2 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
}

.subscription-form input[type="email"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.subscription-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #45a049;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.subscription-form button:hover {
    background-color: #3e8e41;
}

.message {
    margin-top: 10px;
    font-size: 14px;
    color: green;
    display: none;
}

.likes-dislikes {
    margin-top: 10px;
}

.like-btn, .dislike-btn {
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effects */
.like-btn:hover {
    background-color: #d0ffd0;
}

.dislike-btn:hover {
    background-color: #ffd0d0;
}

/* Persistent active state when clicked */
.like-btn.active {
    background-color: #28a745; /* Green for active like */
    color: white;
}

.dislike-btn.active {
    background-color: #dc3545; /* Red for active dislike */
    color: white;
}

.like-btn i, .dislike-btn i {
    margin-right: 5px;
}




@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .subscription-form {
        padding: 15px;
    }

    .subscription-form h2 {
        font-size: 16px;
    }

    .subscription-form input[type="email"],
    .subscription-form button {
        font-size: 14px;
        padding: 8px;
    }
}


@media (max-width: 480px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    nav ul li {
        margin: 5px 0;
    }

    .subscription-form {
        padding: 10px;
    }

    .subscription-form h2 {
        font-size: 14px;
    }

    .subscription-form input[type="email"],
    .subscription-form button {
        font-size: 12px;
        padding: 6px;
    }
}