/* Estilos de la plantilla de las publicaciones */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}


#et-top-navigation {
    position: fixed;
    margin-top: -70px;
    width: 100%;
    background-color: #FFFFFF; /* Adjust based on your design */
    padding: 10px;
}

.hamburger {
    cursor: pointer;
    font-size: 24px;
    color: #007bff; /* Change color as needed */
}

#menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50px; /* Adjust based on your layout */
    left: 0;
    background-color: #FFFFFF; /* Same as header background */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#menu-items li {
    padding: 10px 15px;
}

#menu-items li a {
    text-decoration: none;
    color: #000000; /* Link color */
}

.hidden {
    display: none;
}


#menu-items li a:hover {
    color: #27ae60;

}

/* Seccion principal */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    margin-top: 60px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Subsecciones */
section {
    margin-bottom: 30px;
}

section h2 {
    color: #333;
}

section ul {
    padding: 0;
    list-style-type: none;
}

section ul li {
    margin-bottom: 20px;
}

/* Encabezado de las listas de publicaciones */
section ul li h3 {
    color: #1abc9c;
}

/* Parrafos de las listas de publicaciones */
section ul li p {
    color: #666;
    margin-bottom: 10px;
}

/* Estilos del texto continuar leyendo */
section ul li p a {
    color: #1abc9c;
    text-decoration: none;
}

section ul li p a:hover {
    text-decoration: underline;
}

/* Pie de pagina */
footer {
    text-align: center;
    margin-top: 50px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    background-color: #f5f5f5;
    color: #666;
}

/* Estilos del formulario de suscripcion por correo */
.subscription-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.subscription-form h2 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
}

.subscription-form input[type="email"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.subscription-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #45a049;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.subscription-form button:hover {
    background-color: #3e8e41;
}

.message {
    margin-top: 10px;
    font-size: 14px;
    color: green;
    display: none;
}

.likes-dislikes {
    margin-top: 10px;
}

.like-btn, .dislike-btn {
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effects */
.like-btn:hover {
    background-color: #d0ffd0;
}

.dislike-btn:hover {
    background-color: #ffd0d0;
}

/* Persistent active state when clicked */
.like-btn.active {
    background-color: #28a745; /* Green for active like */
    color: white;
}

.dislike-btn.active {
    background-color: #dc3545; /* Red for active dislike */
    color: white;
}

.like-btn i, .dislike-btn i {
    margin-right: 5px;
}




@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .subscription-form {
        padding: 15px;
    }

    .subscription-form h2 {
        font-size: 16px;
    }

    .subscription-form input[type="email"],
    .subscription-form button {
        font-size: 14px;
        padding: 8px;
    }
}


@media (max-width: 480px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    nav ul li {
        margin: 5px 0;
    }

    .subscription-form {
        padding: 10px;
    }

    .subscription-form h2 {
        font-size: 14px;
    }

    .subscription-form input[type="email"],
    .subscription-form button {
        font-size: 12px;
        padding: 6px;
    }
}