body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos del logo*/
.logo {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 5px;
    color: rgb(22, 245, 22); 
    background-color: rgb(1, 1, 17);
}

.logo .C {
    font-size: 1.5em; 
    margin-left: 5px;
}


.logo span {
    font-size: 0.67em; 
}

span.lema {
    color: rgb(22, 245, 22);
    margin-left: 500px;
    margin-right: 500px;
}


/* Estilos del menu */
.menu {
    list-style-type: none;
    padding: 10px 0; 



}

.menu li {
    display: inline;
    margin-right: 20px;
    
}

.menu li a {
    text-decoration: none;
    color: rgb(8, 8, 212);
    margin-left: 50px;
    font-size: 16px;
}

/* Estilos del hover para el menu*/
.et_header_style_left #et-top-navigation nav > ul > li > a,
.et_header_style_left .et-fixed-header #et-top-navigation nav > ul > li > a {
 padding-bottom: 15px;
}
#top-menu li {
 padding-right: 5px;
}
#et-top-navigation {
 padding: 20px 0 !important;
}
#top-menu li a {
 background: #C1B2AB; /*** CHANGES THE BACKGROUND COLOR ***/
 padding: 15px 20px;
 border-radius: 3px;
}
#top-menu li a:hover,
#top-menu li li a:hover {
 color: #fff !important;
}
#top-menu li a:hover {
 background: #559CAD !important; /*** CHANGES THE BACKGROUND COLOR ON HOVER ***/
}
#top-menu li.current-menu-item > a {
 background: #edc77b; /*** CHANGES THE BACKGROUND COLOR OF THE CURRENT PAGE LINK ***/
}
#top-menu .menu-item-has-children > a:first-child:after {
 content: none;
}


.menu li a:hover {
    width: 100%;
}

/* Estilos del header*/
header {
    background-color: skyblue;
}


/* Estilos de la seccion principal */
.main {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    background-image: url('/static/imagenes/tree.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    color: white; 
}

h1 {
    font-size: 3rem; 
    margin-bottom: 20px; 
    color: #e5a72e; 
}
.resumen {
    font-size: 0.8rem; 
    margin-bottom: 20px; 
    text-align: center; 
    color: black; 
    background-color: white; 
    
    border-radius: 10px; 
}


p {
    font-size: 1.0rem; 
    margin-bottom: 20px;
    text-align: center; 
    color: #ffd700; 
    padding: 5px 10px; 
    border-radius: 5px; 
}

.paris {
    background-color: #ff6f61; 
    color: #fff; 
}

.compendio {
    background-color: #66cccc; 
    color: #fff; 
}

.proteccion {
    background-color: #6eff91; 
    color: #000; 
}


.paris, .compendio, .proteccion {
    text-align: center; /* Centrar texto */
}

button {
    font-size: 1.5rem; 
    padding: 15px 30px; 
    margin-top: 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

#paris {
    background-color: #0056b3;
}

#compendio {
    background-color: #218838; 
}

#denuncia {
    background-color: #ffc107; 
}


.climate-change {
    background-color: #f2f2f2; /* Background color for the section */
    padding: 20px; /* Padding around the section content */
    border-radius: 10px; /* Rounded corners for the section */
}

.climate-change h2 {
    color: #333; /* Color for the section heading */
}

.climate-change p {
    color: #666; /* Color for the section paragraph */
}

.btn {
    padding: 5px; /* Padding for the buttons */
    margin-right: 10px; /* Margin between the buttons */
    border: none; /* Remove button border */
    border-radius: 5px; /* Rounded corners for the buttons */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.btn.conocer-mas {
    background-color: #3498db; /* Blue color for "Conocer más" button */
    color: #fff; /* Text color for "Conocer más" button */
}

.btn.acceder-cursos {
    background-color: #2ecc71; /* Green color for "Acceder a cursos gratuitos" button */
    color: #fff; /* Text color for "Acceder a cursos gratuitos" button */
}



.causes-consequences {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

.causes-consequences h2 {
    color: #333;
}

.causes-consequences h3 {
    color: #555;
}

.btn {
    padding: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn.cause-summary {
    background-color: #e74c3c; /* Red color for "Causas" summary button */
    color: #fff;
}

.btn.consequence-summary {
    background-color: #3498db; /* Blue color for "Consecuencias" summary button */
    color: #fff;
}

.causes,
.consequences {
    flex: 1; /* Take up equal space within the flex container */
    margin-right: 20px; /* Add some spacing between causes and consequences */
}


.mitigation-adaptation {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

.mitigation-adaptation h2 {
    color: #333;
}

.mitigation-adaptation h3 {
    color: #555;
}

.summary {
    display: flex;
}

.btn {
    padding: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn.mitigation-summary {
    background-color: #e74c3c; /* Red color for "Mitigación" summary button */
    color: #fff;
}

.btn.adaptation-summary {
    background-color: #3498db; /* Blue color for "Adaptación" summary button */
    color: #fff;
}

.content {
    display: flex;
}

.mitigation,
.adaptation {
    flex: 1;
    margin-right: 20px;
}



.dynamic-summary {
    background-color: #f9f9f9; /* Background color for content sections */
    padding: 40px;
    margin-top: 40px;
    text-align: center; /* Center content */
}

.actions {
    display: flex;
    justify-content: space-between;
    background-color: #81c784; /* Color palette related to forests */
    padding: 20px;
    margin-top: 40px;
}

.forum {
    background-color: #4caf50; /* Color palette related to forests */
    padding: 20px;
    margin-left: 20px; /* Add margin for spacing */
}

.actions button, .forum button {
    padding: 15px 30px; /* Increased padding */
    font-size: 16px;
    background-color: #007bff; /* Button color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
