/* Estilos del index */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilos del logo */
.slogan {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    background-color: #007bff;
    color: #000000;

}

/* Estilo para la imagen del logo */
.logo img {
    margin-right: 300px;
}


.slogan a {
    text-decoration: none;
    color: inherit;
}

a.header:hover {
    color: #666;
}

.slogan .header {
    font-size: 0.80em;
    color: #000000;
}


/* Estilos del menú */
.menu {
    list-style-type: none;
    padding: 30px 0;
    text-align: center;
    background-color: #007bff;
    color: #000000;
    position: relative;
    width: 100%;
    top: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0;
    position: fixed;
    z-index: 1000;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu li a {
    text-decoration: none;
    color: #000000;
    margin-left: 50px;
    font-size: 16px;
}

a.main :hover {
    text-decoration: #666666;
    color: #000000;
}

/* Estilos del hover para el menú */
.et_header_style_left #et-top-navigation nav > ul > li > a,
.et_header_style_left .et-fixed-header #et-top-navigation nav > ul > li > a {
    padding-bottom: 15px;
}

#top-menu li {
    padding-right: 5px;
}

#et-top-navigation {
    padding: 20px 0 !important;
}

#top-menu li a {
    background: #000000;
    padding: 15px 20px;
    border-radius: 3px;
}

#top-menu li a:hover,
#top-menu li li a:hover {
    color: #000000 !important;
}

#top-menu li a:hover {
    background: #007bff !important; /* Cambia el color de fondo al hacer hover */
}

#top-menu li.current-menu-item > a {
    background: #45a049; /* Cambia el color de fondo del enlace de la página actual */
}

#top-menu .menu-item-has-children > a:first-child:after {
    content: none;
}

.menu li a:hover {
    width: 100%;
}

/* Estilos del slogan */
.header {
    position: fixed;          /* Fijo en la parte superior */
    margin-top: 60px;                   /* Ubicado en la parte superior de la página */
    left: 0;
    width: 100%;              /* Ocupa el ancho completo de la pantalla */
    background-color: #45a049; /* Verde */
    color: #000000;            /* Texto blanco para mejor contraste */
    text-align: center;        /* Centrar el texto */
    padding: 15px 8px;           /* Espaciado arriba y abajo */
    font-size: 24px;           /* Tamaño de fuente */
    font-family: 'Arial', sans-serif; /* Tipografía simple */
    font-weight: bold;         /* Texto en negrita */
    box-shadow: 0px 4px 2px -2px gray; /* Sombra para darle un poco de relieve */
    z-index: 1000;
}

/* Estilos de la sección principal */
.main {
    position: relative;
    width: 100%;
    margin-top: 30px;
    height: 100vh;
    overflow: hidden;
    background-image: url('/static/imagenes/main.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.resumen {
    font-size: 0.8rem;
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
    background-color: #666666;
    border-radius: 10px;
}


p {
    font-size: 1rem;
    margin-bottom: 15px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo del texto sobre el acuerdo de Paris */
.paris {
    background-color: #666666;
    color: #000000;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo del texto sobre el compendio de leyes de Nicaragua  */
.compendio {
    background-color: #666666;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilos del texto que esta encima de el boton para las denuncias */
.proteccion {
    background-color: #666666;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.paris, .compendio, .proteccion {
    text-align: center; /* Centrar texto */
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo de los tres botones anteriores */
button {
    font-size: 1.5rem;
    padding: 15px 30px;
    margin-top: 1px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
.main-button {
    margin-top: 40px;
    background-color: #45a049; /* Initial background color */
    color: #000000; /* Text color */
    padding: 10px 20px;
    border: none;
    text-decoration: none; /* Remove underline from links */
    display: inline-block; /* Makes the link behave like a button */
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transition for hover effect */
    font-size: 16px;
    border-radius: 5px; /* Optional: Rounded corners */
}

/* Hover effect */
.main-button:hover {
    background-color: #27ae60; /* Change background color on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
    color: #000000; /* Maintain text color */
}



/* Color de fondo del boton del acuerdo de Paris */
#paris {
    background-color: #45a049;
}

/* Color de fondo del boton del compendio de leyes de Nicaragua */
#compendio {
    background-color: #45a049;
}

/* Color de fondo del boton para hacer una denuncia */
#denuncia {
    background-color: #45a049;

}

/* Sección de cambio climático */
.climate-change {
    background-color: #FFFFFF; /* Color de fondo de la sección */
    padding: 20px; /* Espaciado alrededor del contenido de la sección */
    border-radius: 10px; /* Esquinas redondeadas para la sección */
}

.climate-change h2 {
    color: #000000; /* Color del título de la sección */
}

.climate-change p {
    color: #000000; /* Color del párrafo de la sección */

}

.btn {
    padding: 5px; /* Espaciado de los botones */
    margin-right: 10px; /* Espaciado entre los botones */
    border: none; /* Eliminar el borde del botón */
    border-radius: 5px; /* Esquinas redondeadas para los botones */
    cursor: pointer; /* Cambiar el cursor a puntero al pasar sobre el botón */
}

.btn.conocer-mas {
    background-color: #45a049; /* Color azul para el botón "Conocer más" */
    color: #000000; /* Color del texto del botón "Conocer más" */
}

.btn.acceder-cursos {
    background-color: #45a049; /* Color verde para el botón "Acceder a cursos gratuitos" */
    color: #000000; /* Color del texto del botón "Acceder a cursos gratuitos" */
}

/* Sección de causas y consecuencias */
.causes-consequences {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    display: flex; /* Usar diseño Flexbox */
    flex-direction: row; /* Disponer los elementos en una fila */
    justify-content: space-between; /* Espaciar los elementos de manera uniforme a lo largo del eje principal */
}

.causes-consequences h2 {
    color: #FFFFFF;
    margin-bottom: 20px;
}

.summary {
    display: flex; /* Usar diseño Flexbox para los botones de resumen */
}

.btn {
    padding: 5px;
    margin-right: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn.cause-summary {
    background-color: #007bff; /* Color rojo para el botón de resumen de "Causas" */
    color: #000000;
}

.btn.consequence-summary {
    background-color: #007bff; /* Color azul para el botón de resumen de "Consecuencias" */
    color: #000000;
}

.content {
    display: flex; /* Usar diseño Flexbox para el contenido */
}

.causes,
.consequences {
    flex: 1; /* Ocupan igual espacio dentro del contenedor flex */
    margin-right: 20px; /* Espaciado entre causas y consecuencias */
}

.causes ul, .consequences ul {
    list-style-type: none;
    padding: 0;
}

/* Sección de adaptación y mitigación */
.mitigation-adaptation {
    background-color: #FFFFFF; /* Color de fondo gris claro */
    padding: 20px;
    border-radius: 10px;
}

.mitigation-adaptation h2 {
    color: #000000; /* Color de texto azul oscuro */
}

.mitigation-adaptation h3 {
    color: #000000;
}

.summary {
    display: flex;
}

.btn {
    padding: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn.mitigation-summary {
    background-color: #007bff; /* Color verde para el botón de resumen de "Mitigación" */
    color: #000000; /* Color de texto blanco */
}

.btn.adaptation-summary {
    background-color: #007bff; /* Color púrpura para el botón de resumen de "Adaptación" */
    color: #000000; /* Color de texto blanco */
}

.content {
    display: flex;
}

.mitigation,
.adaptation {
    flex: 1;
    margin-right: 20px;
}

/* Sección de acciones */

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.actions h4 {
    color: #007bff;
    font-size: 24px;
    margin-bottom: 20px;
}

.mitigation-list {
    background-color: white;
    color: black;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mitigation-list p {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 16px;
}

.mitigation-list i {
    margin-right: 10px;
    color: #007bff;
    font-size: 20px;
}

/* Sección de sostenibilidad */
.sustainability {
    background-color: #f2f2f2; /* Color de fondo de la sección */
    padding: 20px; /* Espaciado alrededor del contenido de la sección */
    border-radius: 10px; /* Esquinas redondeadas para la sección */
    margin-top: 20px; /* Margen superior */
}

.sustainability h2 {
    color: #000000; /* Color del título de la sección */
    text-align: center; /* Centrar el título */
}

.sustainability p {
    color: #000000; /* Color del párrafo de la sección */
    text-align: justify; /* Justificar el texto del párrafo */
    margin-bottom: 20px; /* Espaciado inferior del párrafo */
}


 a :hover {
    color: #45a049;
 }

/* Formulario de suscripción */
.subscription-form {
    padding: 20px;
    background-color: #FFFFFF;
    margin: 20px 0;
    text-align: center;
}

.subscription-form h2 {
    font-size: 1.5em;
    color: #45a049;
}

.subscription-form form {
    margin-top: 10px;
}

.subscription-form input[type="email"] {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.subscription-form button[type="submit"] {
    background-color: #45a049;
    border: none;
    color: #000000;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}

.subscription-form button[type="submit"]:hover {
    background-color: #27ae60;
}

.message {
    color: green;
    font-size: 0.9em;
    margin-top: 10px;
}

/* Estilos para el pie de pagina */
.footer-content {
    display: flex;              /* Flexbox para alinear horizontalmente */
    justify-content: space-between; /* Espacio equitativo entre las columnas */
    padding: 20px;
    font-size: 0.8em;
    background-color: #666666;  /* Fondo verde */
    color: #000000;               /* Texto blanco */
}

.column {
    width: 30%;                 /* Ancho igual para cada columna */
    padding: 10px;
    box-sizing: border-box;      /* Asegura que el padding no afecte el ancho */
}

h3 {
    text-align: left;            /* Título alineado a la izquierda */
    font-size: 1.5em;
}

p, ul {
    font-size: 0.9em;
    line-height: 1.6;            /* Espacio entre líneas para mejorar legibilidad */
}

ul {
    list-style-type: disc;
    margin-left: 20px;           /* Indentación de la lista */
}

footer {
    width: 100%;
    background-color: #666666;   /* Fondo verde */
    padding: 20px 0;             /* Espaciado superior e inferior */
    color: #000000;
}


/* Responsivo */
@media (max-width: 768px) {
    .causes-consequences {
        flex-direction: column;
    }

    header nav ul li {
        display: block;
        margin: 10px 0;
    }

    .subscription-form input[type="email"] {
        width: 100%;
    }
}

/* Responsivo para el menú */
@media (max-width: 768px) {
    .menu {
        padding: 10px;
        font-size: 14px;
    }

    .menu li {
        display: block;
        margin: 10px 0;
    }

    .menu li a {
        display: block;
        margin: 0;
        padding: 10px;
    }
}

/* Responsivo para el header y la sección principal */
@media (max-width: 768px) {
    .main {
        height: auto;
        background-position: center top;
    }

    .main h1 {
        font-size: 2rem;
    }

    .resumen, p {
        font-size: 0.9rem;
    }
}

/* Responsivo para la sección de cambio climático */
@media (max-width: 768px) {
    .climate-change {
        padding: 10px;
    }

    .climate-change h2 {
        font-size: 1.5rem;
    }

    .btn {
        font-size: 1.2rem;
        padding: 10px 20px;
    }
}

/* Responsivo para la sección de causas y consecuencias */
@media (max-width: 768px) {
    .causes-consequences {
        flex-direction: column;
        padding: 10px;
    }

    .causes, .consequences {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .summary {
        flex-direction: column;
    }
}

/* Responsivo para la sección de adaptación y mitigación */
@media (max-width: 768px) {
    .mitigation-adaptation {
        padding: 10px;
    }

    .mitigation-adaptation h2 {
        font-size: 1.5rem;
    }

    .mitigation-adaptation h3 {
        font-size: 1.2rem;
    }

    .btn.mitigation-summary, .btn.adaptation-summary {
        font-size: 1.2rem;
        padding: 10px 20px;
    }
}

/* Responsivo para la sección de acciones */
@media (max-width: 768px) {
    .actions {
        padding: 10px;
    }

    .actions h4 {
        font-size: 1.5rem;
    }

    .mitigation-list {
        width: 100%;
        box-shadow: none;
    }

    .mitigation-list p {
        font-size: 14px;
    }
}

/* Responsivo para el footer */
@media (max-width: 768px) {
    footer {
        padding: 10px;
    }

    .footer-content h3 {
        font-size: 1.2rem;
    }

    .footer-content p {
        font-size: 14px;
        width: 100%;
    }

    .footer-content ul li {
        font-size: 14px;
    }
}

/* Responsivo para la sección de sostenibilidad */
@media (max-width: 768px) {
    .sustainability {
        padding: 10px;
    }

    .sustainability h2 {
        font-size: 1.5rem;
    }

    .sustainability p {
        font-size: 0.9rem;
    }
}

/* Responsivo para el formulario de suscripción */
@media (max-width: 768px) {
    .subscription-form {
        padding: 10px;
    }

    .subscription-form h2 {
        font-size: 1.2rem;
    }

    .subscription-form input[type="email"] {
        width: 100%;
    }

    .subscription-form button[type="submit"] {
        font-size: 1.2rem;
        padding: 10px 20px;
    }
}
