<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agricultura Sostenible</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/accionesMitigacion.css') }}">
</head>
<body>

<header id="et-top-navigation" class="et_header_style_left">
    <nav>
        <div class="hamburger" id="hamburger-menu">
            &#9776; <!-- Hamburger icon -->
        </div>
        <ul id="menu-items" class="hidden">
            <li><a href="{{url_for('verdeNica')}}">Inicio</a></li>
             <li><a href="{{url_for('ps')}}">Productos Sostenibles</a></li>
            <li><a href="{{url_for('ia')}}">Reconocimiento Especies con IA</a></li>
             <li><a href="{{url_for('biodiversidad')}}">Biodiversidad en Nicaragua</a></li>
             <li><a href="{{ url_for('campanias')}}">Campañas</a></li>
            <li><a href="{{ url_for('foro')}}">Foro</a></li>
            <li><a href="{{url_for('publicaciones')}}">Publicaciones</a></li>
            <li><a href="{{url_for('denuncia')}}">Denuncias</a></li>
            <li><a href="{{ url_for('ayuda')}}">Ayuda</a></li>
            <li><a href="{{ url_for('login', next='profile') }}"><i class="fas fa-user-circle"></i> Perfil</a></li>

        </ul>
    </nav>
</header>
    
    <main>
        <section id="content">
            <h2>Agricultura Sostenible</h2>
            <p><i class="fas fa-leaf"></i> Implementar prácticas agrícolas sostenibles, como la rotación de cultivos y la agricultura regenerativa.</p>
            <p>La agricultura sostenible es crucial para asegurar la seguridad alimentaria, proteger el medio ambiente y mitigar el cambio climático. Prácticas como la rotación de cultivos y la agricultura regenerativa no solo mejoran la salud del suelo, sino que también aumentan la resiliencia de los sistemas agrícolas frente a eventos climáticos extremos.</p>
            <p>La rotación de cultivos implica alternar diferentes tipos de cultivos en el mismo campo en diferentes temporadas. Esta práctica ayuda a prevenir la acumulación de plagas y enfermedades, mejora la estructura del suelo y reduce la necesidad de fertilizantes y pesticidas químicos. Al diversificar los cultivos, los agricultores pueden mantener la productividad del suelo y reducir el riesgo de pérdidas económicas debido a factores adversos.</p>
            <p>La agricultura regenerativa va más allá de la sostenibilidad y busca restaurar y mejorar la salud y la biodiversidad del suelo. Esta práctica incluye técnicas como el uso de cultivos de cobertura, el compostaje, el pastoreo gestionado y la siembra directa. Los cultivos de cobertura, por ejemplo, protegen el suelo de la erosión, mejoran su estructura y aumentan su contenido de materia orgánica.</p>
            <p>El compostaje es una técnica que convierte los desechos orgánicos en un fertilizante rico en nutrientes. Al agregar compost al suelo, se mejora su fertilidad y capacidad de retención de agua, lo que reduce la necesidad de fertilizantes químicos y riego. El pastoreo gestionado, por otro lado, involucra mover el ganado de manera planificada para evitar el sobrepastoreo y permitir que las plantas se recuperen, lo que mejora la salud del suelo y la biodiversidad.</p>
            <p>La siembra directa es una técnica en la que los cultivos se plantan directamente en los residuos del cultivo anterior sin arar el suelo. Esto reduce la erosión del suelo, mejora la retención de humedad y aumenta la materia orgánica del suelo. Además, la siembra directa reduce el consumo de combustible y las emisiones de carbono asociadas con el laboreo tradicional.</p>
            <p>La adopción de prácticas agrícolas sostenibles no solo beneficia al medio ambiente, sino que también puede mejorar la rentabilidad de las explotaciones agrícolas. Al reducir la dependencia de insumos externos como fertilizantes y pesticidas químicos, los agricultores pueden reducir sus costos de producción y aumentar sus márgenes de beneficio. Además, los sistemas agrícolas resilientes son más capaces de soportar y recuperarse de eventos climáticos extremos, lo que reduce el riesgo de pérdidas económicas.</p>
            <p>En conclusión, la implementación de prácticas agrícolas sostenibles es esencial para promover la seguridad alimentaria, proteger el medio ambiente y mitigar el cambio climático. La rotación de cultivos, la agricultura regenerativa y otras técnicas sostenibles mejoran la salud del suelo, aumentan la resiliencia de los sistemas agrícolas y pueden ofrecer beneficios económicos a los agricultores. La educación y el apoyo técnico son fundamentales para fomentar la adopción de estas prácticas a gran escala.</p>
        </section>
    </main>

<script src="{{ url_for('static', filename='js/menu.js') }}"></script>

</body>
</html>
