<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión y Crear Cuenta</title>
    <!--Coneccion con el archivo CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sistemaAutenticacion.css') }}">
    <!--Visualizar el logo en la parte del titulo -->
    <link rel="icon" href="/static/imagenes/logo.png" type="image/png">

</head>

<body>

    <!-- Contenedor para el inicio de sesion -->
    <div class="container">
        
        <div class="form sign-in-container">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

       

            <h1>Iniciar Sesión</h1>
            <form action="{{ url_for('login') }}" method="POST">
                <input type="email" id="login-correo" name="login-correo" placeholder="Correo" required>
                <input type="password" id="login-password" name="login-password" placeholder="Contraseña" required>
                <input type="hidden" name="next" value="{{ request.args.get('next', '') }}">
                <input type="submit" value="Iniciar Sesión">
                <a class="no-account">¿No tienes una cuenta? Regístrate</a>
            </form>
        </div>
        

        <!-- Contenedor para crear cuenta -->
        <div class="form sign-up-container">
            <!-- Bloque para mostrar el flash message especificado en Python -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

            <h1>Crear Cuenta</h1>
            <form action="{{ url_for('register') }}" method="post">
                
                <input type="text" id="register-nombre" name="register-nombre" placeholder="Nombre" required>
                <input type="email" id="register-correo" name="register-correo" placeholder="Correo" required>
                <input type="password" id="register-password" name="register-password" placeholder="Contraseña" required>
                <input type="password" id="register-confirm-password" name="register-confirm-password" placeholder="Confirmar Contraseña" required>
                <input type="submit" value="Crear Cuenta">
                <a class="ok-account">¿Ya tienes una cuenta? Inicia Sesión</a>
            </form>
        </div>
    </div>

    <!-- Coneccion con el archivo de JavaScript -->
    <script src="{{ url_for('static', filename='js/autenticacion.js') }}"></script>
</body>
</html>
