<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión y Crear Cuenta</title>
    <!--Coneccion con el archivo CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/authentication-system.css') }}">
    <!--Visualizar el logo en la parte del titulo -->
    <link rel="icon" href="/images/logo.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>


<header id="et-top-navigation" class="et_header_style_left">
    <nav>
        <div class="hamburger" id="hamburger-menu">
            &#9776; <!-- Hamburger icon -->
        </div>
        <ul id="menu-items" class="hidden">
            <li><a href="{{url_for('verde_nica')}}">Inicio</a></li>
             <li><a href="{{url_for('ps')}}">Productos Sostenibles</a></li>
            <li><a href="{{url_for('ia')}}">Reconocimiento Especies con IA</a></li>
             <li><a href="{{url_for('biodiversidad')}}">Biodiversidad en Nicaragua</a></li>
             <li><a href="{{ url_for('campanias')}}">Campañas</a></li>
            <li><a href="{{ url_for('forum')}}">Foro</a></li>
            <li><a href="{{url_for('publicaciones')}}">Publicaciones</a></li>
            <li><a href="{{url_for('denuncia')}}">Denuncias</a></li>
            <li><a href="{{ url_for('ayuda')}}">Ayuda</a></li>
            <li><a href="{{ url_for('login', next='profile') }}"><i class="fas fa-user-circle"></i> Perfil</a></li>

        </ul>
    </nav>
</header>

    <!-- Contenedor para el inicio de sesion -->
    <div class="container">

        <div class="form sign-in-container">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}



            <h1>Iniciar Sesión</h1>
            <form id="login-form" action="{{ url_for('login') }}" method="POST" novalidate>
                <input type="email" id="login-correo" name="login-correo" placeholder="Correo" required>
                 <div class="error-message"></div>
                <input type="password" id="login-password" name="login-password" placeholder="Contraseña" required>
                 <div class="error-message"></div>
                <input type="hidden" name="next" value="{{ request.args.get('next', '') }}">
                 <!-- Checkbox for Remember Me -->
            <div>
                 <input type="checkbox" id="remember_me" name="remember_me">
                <label for="remember_me">Recuerdame</label>
             </div>
                <input type="submit" value="Iniciar Sesión">

                <a class="no-account">¿No tienes una cuenta? Regístrate</a>
                <a href="#" class="view-terms-link">Ver Términos y Condiciones</a>
            </form>
            <a class="recuperar" href="{{url_for('recover_account')}}">Recuperar Credenciales</a>
        </div>


        <!-- Contenedor para crear cuenta -->
        <div class="form sign-up-container">
            <!-- Bloque para mostrar el flash message especificado en Python -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

            <h1>Crear Cuenta</h1>
            <form id="register-form" action="{{ url_for('register') }}" method="post" novalidate>
                <input type="text" id="register-nombre" name="register-nombre" placeholder="Nombre" required>
                 <div class="error-message"></div>
                <input type="email" id="register-correo" name="register-correo" placeholder="Correo" required>
                 <div class="error-message"></div>
                <input type="password" id="register-password" name="register-password" placeholder="Contraseña" required>
                 <div class="error-message"></div>
                <input type="password" id="register-confirm-password" name="register-confirm-password" placeholder="Confirmar Contraseña" required>
                 <div class="error-message"></div>
                <input type="submit" value="Crear Cuenta">
                <a class="ok-account">¿Ya tienes una cuenta? Inicia Sesión</a>
            </form>
        </div>
    </div>

    <!-- Coneccion con el archivo de JavaScript -->
    <script src="{{ url_for('static', filename='js/authentication.js') }}"></script>
    <script src="{{ url_for('static', filename='js/condition-terms.js') }}"></script>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>

</body>
</html>