<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biodiversidad en Nicaragua</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/biodiversidad.css')}}">
    <link rel="icon" href="/static/imagenes/logo.png" type="image/png">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#biodiversidad">Biodiversidad</a></li>
                <li><a href="#flora">Flora</a></li>
                <li><a href="#fauna">Fauna</a></li>
                <li><a href="#exotic-animals">Animales Exóticos</a></li>
                <li><a href="#common-plants">Plantas Comunes</a></li>
                <li><a href="#endangered-animals">Animales en Peligro de Extinción</a></li>
                <li><a href="#exotic-plants">Plantas Exóticas</a></li>
            </ul>
        </nav>
        <h1>Biodiversidad en Nicaragua</h1>
    </header>

    <main>
        <section id="biodiversidad">
            <h2>Biodiversidad</h2>
            <p>Nicaragua es uno de los países más biodiversos de Centroamérica. La variedad de ecosistemas y climas contribuye a una rica diversidad de especies animales y vegetales.</p>
            <p>El 20 de Julio del 2023 en Juigalpa-Chontales nacio uno de los cuatro pumas albinos de color blanco que se han registrado en el mundo.</p>
            <img src="static/imagenes/itzae.jpeg" alt="Itzae Puma Albino Juigalpa, Nicaragua" class="featured-image">
        </section>

        <section id="flora">
            <h2>Flora</h2>
            <p>La flora nicaragüense es diversa, desde los bosques tropicales húmedos hasta los secanos de la región del Pacífico. Algunos de los árboles más representativos incluyen el almendro, el ceiba y el cedro.</p>
            <img src="static/imagenes/orquidea.jpeg" alt="Orquídea" class="featured-image">
        </section>

        <section id="fauna">
            <h2>Fauna</h2>
            <p>La fauna de Nicaragua es igualmente diversa, con una gran variedad de mamíferos, aves, reptiles y anfibios. Entre ellos se encuentran el jaguar, el tucán y la rana verde.</p>
            <img src="static/imagenes/jaguar.jpeg" alt="Jaguar" class="featured-image">
        </section>

        <section id="exotic-animals">
            <h2>Animales Exóticos</h2>
            <ul>
                 <li>
                    Puma Albino (Puma de Color Blanco)
                    <img src="static/imagenes/itzae.jpeg" alt="Puma Albino" class="small-image">
                </li>
                <li>
                    Jaguar (Panthera onca)
                    <img src="static/imagenes/jaguar.jpg" alt="Jaguar Exótico" class="small-image">
                </li>
                <li>
                    Mono aullador (Alouatta palliata)
                    <img src="static/imagenes/mono-aullador.jpeg" alt="Mono Aullador" class="small-image">
                </li>
                <li>
                    Tucán de pico grande (Ramphastos sulfuratus)
                    <img src="static/imagenes/tucan.jpg" alt="Tucán de Pico Grande" class="small-image">
                </li>
                <li>
                    Boa constrictora (Boa constrictor)
                    <img src="static/imagenes/rana.jpeg" alt="Rana Verde" class="small-image">
                </li>
            </ul>
        </section>

        <section id="exotic-plants">
            <h2>Plantas Exóticas</h2>
            <ul>
                <li>
                    Orquídea Cattleya (Cattleya spp.)
                    <img src="static/imagenes/orquidea.jpeg" alt="Orquídea Cattleya" class="small-image">
                </li>
                <li>
                    Heliconia (Heliconia spp.)
                    <img src="static/imagenes/heliconia.jpeg" alt="Heliconia" class="small-image">
                </li>
                <li>
                    Planta de cacao (Theobroma cacao)
                    <img src="static/imagenes/cacao.jpeg" alt="Planta de Cacao" class="small-image">
                </li>
                <li>
                    Planta de café (Coffea arabica)
                    <img src="static/imagenes/cafe.jpeg" alt="Planta de Café" class="small-image">
                </li>
            </ul>
        </section>

        <section id="common-plants">
            <h2>Plantas Comunes</h2>
            <ul>
                <li>
                    Guayaba (Psidium guajava)
                    <img src="static/imagenes/guayaba.jpeg" alt="Guayaba" class="small-image">
                </li>
                <li>
                    Hibisco (Hibiscus rosa-sinensis)
                    <img src="static/imagenes/hibisco.jpeg" alt="Hibisco" class="small-image">
                </li>
                <li>
                    Árbol de mango (Mangifera indica)
                    <img src="static/imagenes/mango.jpeg" alt="Árbol de Mango" class="small-image">
                </li>
                <li>
                    Yuca (Manihot esculenta)
                    <img src="static/imagenes/yuca.jpeg" alt="Yuca" class="small-image">
                </li>
            </ul>
        </section>

        <section id="endangered-animals">
            <h2>Animales en Peligro de Extinción</h2>
            <ul>
                <li>
                    Jaguar (Panthera onca)
                    <img src="static/imagenes/jaguar.jpg" alt="Jaguar en Peligro" class="small-image">
                </li>
                <li>
                    Tortuga carey (Eretmochelys imbricata)
                    <img src="static/imagenes/tortuga-carey.jpeg" alt="Tortuga Carey" class="small-image">
                </li>
                <li>
                    Mono araña (Atelidae spp.)
                    <img src="static/imagenes/mono-arana.jpg" alt="Mono Araña" class="small-image">
                </li>
                <li>
                    Tapir centroamericano (Tapirus bairdii)
                    <img src="static/imagenes/tapir.jpeg" alt="Tapir Centroamericano" class="small-image">
                </li>
            </ul>
        </section>
    </main>



    <script src="{{url_for('static', filename='js/biodiversidad.js')}}"></script>
</body>
</html>
