<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campania - Campania Comunitaria</title>
    <!-- Archivo CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/campanias.css') }}">
    <!-- Visualizar el logo en la parte superior izquierda del titulo -->
    <link rel="icon" href="/static/imagenes/logo.png" type="image/png">
</head>
<body>

<div class="campania-container">
    <h2>Campaña Comunitaria</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

    <form id="campaniaForm" action="{{url_for('new_campaign')}}" method="POST" class="campania-form" style="display: none;">
        <h3>Crear una Nueva Campaña</h3>
        <section class="campaing">
        <div class="form-group">
            <label for="nombre_campania">Nombre de la Campaña:</label>
            <input type="text" id="nombre_campania" name="nombre_campania" required>
        </div>
        <div class="form-group">
            <label for="descripcion_campania">Descripción:</label>
            <textarea id="descripcion_campania" name="descripcion_campania" rows="4" required></textarea>
        </div>
        <div class="form-group">
            <label for="fecha_inicio">Fecha de Inicio:</label>
            <input type="date" id="fecha_inicio" name="fecha_inicio" required>
        </div>
        <div class="form-group">
            <label for="fecha_fin">Fecha de Fin:</label>
            <input type="date" id="fecha_fin" name="fecha_fin" required>
        </div>
        <div class="form-group">
            <label for="presupuesto">Presupuesto: (opcional)</label>
            <input type="number" id="presupuesto" name="presupuesto">
        </div>
        <button type="submit" class="btn-campania">Crear Campaña</button>
    </form>

    <div class="prompt-login">
        <button id="btnCampania" onclick="location.href='{{ url_for('login', next='campaniaForm') }}'">Crear una Nueva Campania</button>
    </div>
</section>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const formType = "{{ form_type }}";
        if (formType) {
            document.getElementById(formType).style.display = 'block';
        }
    });
</script>

</body>
</html>
