<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Derretimiento de los Casquetes Polares y Cambio Climático</title>
    <!-- Archivo CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ConsequencesStyles.css') }}">
    <!--Visualizar el logo en la parte del titulo -->
    <link rel="icon" href="/static/imagenes/logo.png" type="image/png">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>
   <header id="et-top-navigation" class="et_header_style_left">
    <nav>
        <div class="hamburger" id="hamburger-menu">
            &#9776; <!-- Hamburger icon -->
        </div>
        <ul id="menu-items" class="hidden">
            <li><a href="{{url_for('verdeNica')}}">Inicio</a></li>
             <li><a href="{{url_for('ps')}}">Productos Sostenibles</a></li>
            <li><a href="{{url_for('ia')}}">Reconocimiento Especies con IA</a></li>
             <li><a href="{{url_for('biodiversidad')}}">Biodiversidad en Nicaragua</a></li>
             <li><a href="{{ url_for('campanias')}}">Campañas</a></li>
            <li><a href="{{ url_for('foro')}}">Foro</a></li>
            <li><a href="{{url_for('publicaciones')}}">Publicaciones</a></li>
            <li><a href="{{url_for('denuncia')}}">Denuncias</a></li>
            <li><a href="{{ url_for('ayuda')}}">Ayuda</a></li>
            <li><a href="{{ url_for('login', next='profile') }}"><i class="fas fa-user-circle"></i> Perfil</a></li>

        </ul>
    </nav>
</header>
    
    <main>
        <section id="introduction">
            <h2>Introducción</h2>
            <p>El derretimiento de los casquetes polares es un fenómeno preocupante asociado al cambio climático global, que está alterando significativamente los ecosistemas polares y afectando a la biodiversidad única de estas regiones.</p>
        </section>

        <section id="how-it-works">
            <h2>¿Cómo Funciona el Derretimiento de los Casquetes Polares?</h2>
            <p>El derretimiento de los casquetes polares se produce principalmente debido al aumento de las temperaturas globales, que provocan la fusión de los glaciares y la capa de hielo. Este proceso es acelerado por retroalimentaciones positivas como la disminución del albedo y la liberación de gases de efecto invernadero atrapados en el hielo.</p>
        </section>

        <section id="consequences">
            <h2>Consecuencias</h2>
            <p>El derretimiento de los casquetes polares está provocando el aumento del nivel del mar, la pérdida de hábitat para especies adaptadas al frío, y cambios en los patrones climáticos globales (Smith et al., 2023).</p>
        </section>

        <section id="short-long-term-effects">
            <h2>Efectos a Corto y Largo Plazo</h2>
            <p>A corto plazo, el derretimiento de los casquetes polares está contribuyendo al incremento del nivel del mar y afectando la salinidad y circulación oceánica. A largo plazo, podría desencadenar eventos extremos climáticos y cambios irreversibles en el clima global.</p>
        </section>

        <section id="nicaragua-impact">
            <h2>¿Cómo Afecta a Nicaragua?</h2>
            <p>Aunque Nicaragua no se encuentra cerca de los casquetes polares, el derretimiento de estos tiene consecuencias globales que afectan al país. El aumento del nivel del mar, resultado del derretimiento polar, amenaza las costas nicaragüenses. Además, los cambios en los patrones climáticos globales pueden alterar las precipitaciones y temperaturas en Nicaragua, afectando la agricultura y los recursos hídricos.</p>
        </section>
        

        <footer>
            <p>Referencias:</p>
            <ul>
                <li>Smith, J., et al. (2023). Impacto del Derretimiento de los Casquetes Polares en el Medio Ambiente. <i>Revista de Ciencias Polares</i>, 56(3), 320-335.</li>
            </ul>
        </footer>
    </main>

<script src="{{ url_for('static', filename='js/menu.js') }}"></script>
</body>
</html>
