<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denuncias - Reportes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/denuncia.css') }}">
</head>
<body>

<div class="denuncias-container">
    <h2>Denuncias y Reportes</h2>
    
  
    <div class="load-form">
       <a href="{{url_for('denunciaForm')}}"> <button id="btnDenuncia">Hacer una Denuncia</button> </a>
    </div>
</div>



</body>
</html>
