<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denuncias - Reportes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/denuncia.css') }}">
    <link rel="icon" href="/static/imagenes/logo.png" type="image/png">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<header id="et-top-navigation" class="et_header_style_left">
    <nav>
        <div class="hamburger" id="hamburger-menu">
            &#9776; <!-- Hamburger icon -->
        </div>
        <ul id="menu-items" class="hidden">
            <li><a href="{{url_for('verdeNica')}}">Inicio</a></li>
            <li><a href="{{url_for('ia')}}">Reconocimiento Especies con IA</a></li>
             <li><a href="{{url_for('biodiversidad')}}">Biodiversidad en Nicaragua</a></li>
             <li><a href="{{ url_for('campanias')}}">Campañas</a></li>
            <li><a href="{{ url_for('foro')}}">Foro</a></li>
            <li><a href="{{url_for('publicaciones')}}">Publicaciones</a></li>
             <li><a href="{{ url_for('denunciaForm') }}">
            <button id="btnDenuncia">Hacer una Denuncia</button>
        </a></li>
            <li><a href="{{ url_for('ayuda')}}">Ayuda</a></li>
            <li><a href="{{ url_for('login', next='profile') }}"><i class="fas fa-user-circle"></i> Perfil</a></li>

        </ul>
    </nav>
</header>


<!-- Mostrar la lista de denuncias desde la base de datos -->
<h1>Lista de Denuncias</h1>

   {% if denuncias %}
<!-- Par mejor visualizacion mostrar las denuncias en forma de tabla -->
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Ubicación</th>
                <th>Denunciados</th>
                <th>Otros Detalles</th>
                <th>Evidencia</th>
                <th>Fecha de Creación</th>
            </tr>
        </thead>
        <tbody>
            {% for denuncia in denuncias %}
            <tr>
                <td>{{ denuncia['titulo'] }}</td>
                <td>{{ denuncia['descripcion'] }}</td>
                <td>{{ denuncia['ubicacion'] }}</td>
                <td>{{ denuncia['denunciados'] }}</td>
                <td>{{ denuncia['otros_detalles'] }}</td>
                <td>
                    <!-- Ver el archivo de la evidencia -->
                    {% if denuncia['evidencia_filename'] %}
                        <a href="{{ url_for('static', filename='uploads/' + denuncia['evidencia_filename']) }}">Ver Evidencia</a>
                    {% else %}
                        No hay evidencia
                    {% endif %}
                </td>
                <td>{{ denuncia['fecha_creacion'].strftime('%Y-%m-%d %H:%M:%S') }}</td> <!-- Mostrar la fecha de creacion -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
<!-- Al no haber denuncias en la base de datos mostrar este mensaje -->
    <p>No hay denuncias disponibles.</p>
{% endif %}

<script src="{{ url_for('static', filename='js/menu.js') }}"></script>
</body>
</html>
