<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sequías y Cambio Climático</title>
    <!-- Archivo CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/consequences.css') }}">
    <!--Visualizar el logo en la parte superior izquierda del titulo -->
    <link rel="icon" href="../static/images/logo.png" type="image/png">
   
</head>
<body>
   <header id="et-top-navigation" class="et_header_style_left">
    <nav>
        <div class="hamburger" id="hamburger-menu">
            &#9776; <!-- Hamburger icon -->
        </div>
        <ul id="menu-items" class="hidden">
            <li><a href="{{url_for('verde_nica')}}">Inicio</a></li>
             <li><a href="{{url_for('sustainable_products')}}">Productos Sostenibles</a></li>
            <li><a href="{{url_for('ia')}}">Reconocimiento Especies con IA</a></li>
             <li><a href="{{url_for('biodiversity')}}">Biodiversidad en Nicaragua</a></li>
             <li><a href="{{ url_for('campaigns')}}">Campañas</a></li>
            <li><a href="{{ url_for('forum')}}">Foro</a></li>
            <li><a href="{{url_for('publications')}}">Publicaciones</a></li>
            <li><a href="{{url_for('denounce')}}">Denuncias</a></li>
            <li><a href="{{ url_for('help')}}">Ayuda</a></li>
            <li><a href="{{ url_for('login', next='profile') }}"><i class="fas fa-user-circle"></i> Perfil</a></li>

        </ul>
    </nav>
</header>
    <main>
        <section id="introduction">
            <h2>Introducción</h2>
            <p>Las sequías son eventos climáticos extremos caracterizados por la falta prolongada de precipitación, lo que causa impactos severos en los recursos hídricos, la agricultura y los ecosistemas terrestres.</p>
        </section>

        <section id="how-it-works">
            <h2>¿Cómo Funcionan las Sequías?</h2>
            <p>Las sequías se producen cuando hay una disminución significativa en la cantidad de lluvia durante un período prolongado. Esto puede ser resultado de varios factores, incluyendo:</p>
            <ul>
                <li><strong>Patrones de Circulación Atmosférica:</strong> Alteraciones en los vientos y patrones de alta presión que desvían las masas de aire húmedo, impidiendo su llegada a las regiones afectadas por sequías.</li>
                <li><strong>Fenómenos Oceánicos:</strong> Cambios en las temperaturas superficiales del océano, como La Niña, que pueden influir en la distribución de las precipitaciones a nivel global.</li>
                <li><strong>Topografía y Geografía:</strong> Características del terreno que pueden bloquear o desviar sistemas meteorológicos, afectando la formación de nubes y la lluvia.</li>
            </ul>
        </section>

        <section id="el-nino-phenomenon">
            <h2>El Fenómeno de El Niño</h2>
            <p>El Fenómeno de El Niño es un ciclo climático natural que ocurre periódicamente en el Pacífico ecuatorial. Se caracteriza por el calentamiento anómalo de las aguas del Pacífico central y oriental, lo que altera significativamente los patrones de precipitación en todo el mundo. Durante El Niño, algunas regiones experimentan sequías severas debido a la reducción de las lluvias, mientras que otras enfrentan inundaciones intensas (López, 2021).</p>
        </section>

        <section id="el-nino-como-funciona">
            <h2>¿Cómo Funciona el Fenómeno de El Niño?</h2>
            <p>El Fenómeno de El Niño es un evento climático complejo que se origina en el Pacífico ecuatorial. Durante un episodio de El Niño:</p>
            <ul>
                <li>Las aguas superficiales del océano Pacífico tropical central y oriental se calientan significativamente.</li>
                <li>Este calentamiento altera los patrones de vientos alisios y la circulación atmosférica global.</li>
                <li>Como resultado, se produce un desplazamiento de la convección y una redistribución de las precipitaciones en varias regiones del mundo.</li>
                <li>El Niño puede llevar a sequías severas en algunas áreas y a inundaciones en otras debido a cambios en los patrones de precipitación.</li>
            </ul>
            <p>Este fenómeno tiene un impacto global en el clima y puede influir en la intensidad y frecuencia de eventos meteorológicos extremos en diferentes partes del planeta (Smith, 2018).</p>
        </section>

        <section id="consequences">
            <h2>Consecuencias</h2>
            <p>Las sequías pueden llevar a la escasez de agua potable, la pérdida de cultivos, la desertificación y el aumento de incendios forestales, impactando negativamente en la seguridad alimentaria y económica de las comunidades (Gómez, 2022).</p>
        </section>

        <section id="short-long-term-effects">
            <h2>Efectos a Corto y Largo Plazo</h2>
            <p>A corto plazo, las sequías pueden causar pérdidas inmediatas de cultivos y recursos hídricos. A largo plazo, pueden alterar los patrones climáticos regionales y la disponibilidad de agua en áreas vulnerables (Fernández et al., 2023).</p>
        </section>


        <footer>
            <p>Referencias:</p>
            <ul>
                <li>Gómez, M. (2022). Impacto Socioeconómico de las Sequías. <i>Journal of Climate Change</i>, 29(4), 88-101.</li>
                <li>Fernández, R., et al. (2023). Efectos a Largo Plazo de las Sequías en el Clima Regional. <i>Revista de Estudios Climáticos</i>, 55(2), 210-225.</li>
                <li>Smith, J. (2018). Understanding El Niño Phenomenon. <i>Journal of Climate Studies</i>, 40(4), 567-580.</li>
                <li>López, E. (2021). El Fenómeno de El Niño y sus Implicaciones Globales. <i>Journal of Meteorology</i>, 40(3), 450-465.</li>
            </ul>
        </footer>
    </main>

<script src="{{ url_for('static', filename='js/menu.js') }}"></script>
</body>
</html>
