<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conservación de Ecosistemas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/accionesMitigacion.css') }}">
</head>
<body>
    <header id="et-top-navigation" class="et_header_style_left">
    <nav>
        <div class="hamburger" id="hamburger-menu">
            &#9776; <!-- Hamburger icon -->
        </div>
        <ul id="menu-items" class="hidden">
            <li><a href="{{url_for('verde_nica')}}">Inicio</a></li>
             <li><a href="{{url_for('ps')}}">Productos Sostenibles</a></li>
            <li><a href="{{url_for('ia')}}">Reconocimiento Especies con IA</a></li>
             <li><a href="{{url_for('biodiversidad')}}">Biodiversidad en Nicaragua</a></li>
             <li><a href="{{ url_for('campanias')}}">Campañas</a></li>
            <li><a href="{{ url_for('forum')}}">Foro</a></li>
            <li><a href="{{url_for('publicaciones')}}">Publicaciones</a></li>
            <li><a href="{{url_for('denuncia')}}">Denuncias</a></li>
            <li><a href="{{ url_for('ayuda')}}">Ayuda</a></li>
            <li><a href="{{ url_for('login', next='profile') }}"><i class="fas fa-user-circle"></i> Perfil</a></li>

        </ul>
    </nav>
</header>
    
    <main>
        <section id="content">
            <h2>Conservación de Ecosistemas</h2>
            <p><i class="fas fa-tree"></i> Conservar y restaurar los ecosistemas naturales, como los bosques y humedales, que actúan como sumideros de carbono.</p>
            <p>La conservación y restauración de ecosistemas naturales es esencial para mitigar el cambio climático, preservar la biodiversidad y asegurar el bienestar humano. Ecosistemas como bosques, humedales y praderas actúan como sumideros de carbono, absorbiendo grandes cantidades de CO2 de la atmósfera y ayudando a regular el clima.</p>
            <p>Los bosques, en particular, juegan un papel crucial en la absorción de carbono. A través de la fotosíntesis, los árboles absorben CO2 y lo almacenan en su biomasa (troncos, ramas, hojas y raíces) y en el suelo. La deforestación y la degradación de los bosques liberan este carbono almacenado de vuelta a la atmósfera, contribuyendo al cambio climático. Por lo tanto, conservar los bosques existentes y restaurar los degradados es una estrategia clave para reducir las emisiones de carbono.</p>
            <p>Los humedales, que incluyen marismas, pantanos y turberas, también son importantes sumideros de carbono. Estos ecosistemas almacenan carbono en su suelo y vegetación. Además de su capacidad de almacenamiento de carbono, los humedales proporcionan otros beneficios ecológicos como la purificación del agua, la protección contra inundaciones y la provisión de hábitats para una amplia variedad de especies.</p>
            <p>La restauración de ecosistemas degradados implica acciones como la reforestación, la rehabilitación de humedales y la restauración de praderas. La reforestación consiste en plantar árboles en áreas donde los bosques han sido talados o degradados. Este proceso no solo ayuda a capturar carbono, sino que también mejora la biodiversidad y proporciona hábitats para la vida silvestre.</p>
            <p>La rehabilitación de humedales puede incluir la eliminación de drenes y represas que han alterado el flujo natural del agua, la reintroducción de especies nativas de plantas y animales, y la gestión del uso del suelo en áreas circundantes para reducir la contaminación y la sedimentación. La restauración de praderas implica la eliminación de especies invasoras, la replantación de vegetación nativa y el manejo del pastoreo para evitar el sobrepastoreo.</p>
            <p>La conservación de ecosistemas también implica la creación y gestión de áreas protegidas, como parques nacionales y reservas naturales. Estas áreas proporcionan refugio para especies amenazadas, protegen hábitats críticos y permiten que los procesos ecológicos continúen sin interrupciones humanas significativas. Las áreas protegidas también pueden ofrecer oportunidades para el ecoturismo, que puede generar ingresos para las comunidades locales y fomentar la conservación.</p>
            <p>En conclusión, la conservación y restauración de ecosistemas naturales es vital para mitigar el cambio climático, preservar la biodiversidad y asegurar el bienestar humano. Los bosques, humedales y otros ecosistemas actúan como sumideros de carbono y proporcionan numerosos beneficios ecológicos y económicos. La adopción de prácticas de conservación y restauración a gran escala es esencial para proteger nuestro planeta y construir un futuro sostenible.</p>
        </section>
    </main>

<script src="{{ url_for('static', filename='js/menu.js') }}"></script>
</body>
</html>
