<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energías Renovables</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/accionesMitigacion.css') }}">
</head>
<body>
   <header id="et-top-navigation" class="et_header_style_left">
    <nav>
        <div class="hamburger" id="hamburger-menu">
            &#9776; <!-- Hamburger icon -->
        </div>
        <ul id="menu-items" class="hidden">
            <li><a href="{{url_for('verde_nica')}}">Inicio</a></li>
             <li><a href="{{url_for('ps')}}">Productos Sostenibles</a></li>
            <li><a href="{{url_for('ia')}}">Reconocimiento Especies con IA</a></li>
             <li><a href="{{url_for('biodiversidad')}}">Biodiversidad en Nicaragua</a></li>
             <li><a href="{{ url_for('campanias')}}">Campañas</a></li>
            <li><a href="{{ url_for('forum')}}">Foro</a></li>
            <li><a href="{{url_for('publicaciones')}}">Publicaciones</a></li>
            <li><a href="{{url_for('denuncia')}}">Denuncias</a></li>
            <li><a href="{{ url_for('ayuda')}}">Ayuda</a></li>
            <li><a href="{{ url_for('login', next='profile') }}"><i class="fas fa-user-circle"></i> Perfil</a></li>

        </ul>
    </nav>
</header>
    
    <main>
        <section id="content">
            <h2>Energías Renovables</h2>
            <p><i class="fas fa-sun"></i> Fomentar el uso de energías renovables, como la solar y la eólica.</p>
            <p>El uso de energías renovables es una de las formas más efectivas de combatir el cambio climático y promover la sostenibilidad. Las fuentes de energía renovable, como la solar, la eólica, la hidroeléctrica y la geotérmica, no solo son abundantes y sostenibles, sino que también generan poca o ninguna emisión de gases de efecto invernadero.</p>
            <p>La energía solar aprovecha la luz del sol a través de paneles fotovoltaicos para generar electricidad. Esta tecnología ha avanzado significativamente en las últimas décadas, reduciendo los costos y aumentando la eficiencia. La energía eólica utiliza el viento para mover turbinas que generan electricidad. Las turbinas eólicas pueden instalarse en tierra o en alta mar, aprovechando diferentes regímenes de viento.</p>
            <p>La energía hidroeléctrica es una de las formas más antiguas de energía renovable y utiliza la energía del agua en movimiento, generalmente a través de presas, para generar electricidad. La energía geotérmica, por otro lado, utiliza el calor del interior de la Tierra para generar electricidad y proporcionar calefacción.</p>
            <p>Fomentar el uso de estas fuentes de energía implica inversiones en infraestructura, incentivos gubernamentales y el desarrollo de tecnologías innovadoras. La transición hacia energías renovables también puede crear empleos y estimular el desarrollo económico en las regiones donde se implementan proyectos de energía limpia.</p>
            <p>Además de los beneficios ambientales, las energías renovables ofrecen ventajas económicas a largo plazo. Aunque la inversión inicial puede ser alta, los costos operativos suelen ser bajos, y muchas veces las renovables pueden proporcionar energía a precios competitivos o incluso más bajos que los combustibles fósiles.</p>
            <p>Para promover el uso de energías renovables, es crucial la educación y la concienciación pública sobre los beneficios de estas tecnologías. Programas de incentivos, subsidios y políticas favorables pueden acelerar la adopción de energías limpias y ayudar a las comunidades a realizar la transición hacia una matriz energética más sostenible.</p>
            <p>En conclusión, el fomento de las energías renovables es una estrategia clave para reducir la dependencia de los combustibles fósiles, mitigar el cambio climático y construir un futuro más sostenible. La adopción generalizada de energías limpias no solo protege el medio ambiente, sino que también impulsa la innovación tecnológica y el desarrollo económico sostenible.</p>
        </section>
    </main>

<script src="{{ url_for('static', filename='js/menu.js') }}"></script>
</body>
</html>
