<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Políticas y Regulaciones Ambientales</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mitigation-actions.css') }}">
</head>
<body>
    <header id="et-top-navigation" class="et_header_style_left">
    <nav>
        <div class="hamburger" id="hamburger-menu">
            &#9776; <!-- Hamburger icon -->
        </div>
        <ul id="menu-items" class="hidden">
            <li><a href="{{url_for('verde_nica')}}">Inicio</a></li>
             <li><a href="{{url_for('ps')}}">Productos Sostenibles</a></li>
            <li><a href="{{url_for('ia')}}">Reconocimiento Especies con IA</a></li>
             <li><a href="{{url_for('biodiversidad')}}">Biodiversidad en Nicaragua</a></li>
             <li><a href="{{ url_for('campanias')}}">Campañas</a></li>
            <li><a href="{{ url_for('forum')}}">Foro</a></li>
            <li><a href="{{url_for('publicaciones')}}">Publicaciones</a></li>
            <li><a href="{{url_for('denuncia')}}">Denuncias</a></li>
            <li><a href="{{ url_for('ayuda')}}">Ayuda</a></li>
            <li><a href="{{ url_for('login', next='profile') }}"><i class="fas fa-user-circle"></i> Perfil</a></li>

        </ul>
    </nav>
</header>
    
    <main>
        <section id="content">
            <h2>Políticas y Regulaciones Ambientales</h2>
            <p><i class="fas fa-globe"></i> Apoyar políticas y regulaciones que limiten las emisiones de gases de efecto invernadero en industrias y sectores clave.</p>
            <p>Las políticas ambientales efectivas son fundamentales para reducir las emisiones de gases de efecto invernadero, promover la eficiencia energética y fomentar prácticas sostenibles en diversos sectores de la economía. Las regulaciones gubernamentales pueden establecer estándares de emisiones, incentivos para el uso de energías renovables y medidas para mitigar el impacto ambiental de las actividades industriales y comerciales.</p>
            <p>Limitar las emisiones de gases de efecto invernadero en sectores clave como la energía, la industria, el transporte y la agricultura es crucial para cumplir con los objetivos climáticos globales y nacionales. Las políticas pueden incluir la implementación de impuestos sobre el carbono, el establecimiento de mercados de carbono, subsidios para energías renovables y normativas que fomenten la eficiencia energética y la reducción de emisiones.</p>
            <p>Las regulaciones ambientales también pueden abordar la contaminación del aire, el agua y el suelo, proteger la biodiversidad y promover prácticas sostenibles de gestión de recursos naturales. Estas políticas no solo protegen el medio ambiente, sino que también pueden generar oportunidades económicas al impulsar la innovación tecnológica y la creación de empleo en sectores verdes.</p>
            <p>El apoyo a políticas ambientales efectivas requiere la participación activa de legisladores, empresas, organizaciones no gubernamentales y la sociedad civil. Al educar y sensibilizar a la comunidad sobre la importancia de las políticas ambientales y el impacto de nuestras acciones individuales, podemos promover cambios positivos hacia un futuro más sostenible y resiliente.</p>
        </section>
    </main>

<script src="{{ url_for('static', filename='js/menu.js') }}"></script>
</body>
</html>
