<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foro - Foro Comunitario</title>
    <!-- Archivo CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/foro.css') }}">
    <!-- Visualizar el logo en la parte superior izquierda del titulo -->
    <link rel="icon" href="/static/imagenes/logo.png" type="image/png">
</head>
<body>

<div class="forum-container">
    <h2>Foro Comunitario</h2>

    <div class="prompt-login">
        <button id="btnPregunta" onclick="location.href='{{ url_for('login', next='preguntaForm') }}'">Hacer una Pregunta</button>
        <button id="btnDebate" onclick="location.href='{{ url_for('login', next='debateForm') }}'">Abrir un Nuevo Debate</button>
        <button id="btnHilo" onclick="location.href='{{ url_for('login', next='hiloForm') }}'">Nuevo Hilo de Conversación</button>
    </div>
</div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}


    <!-- Formas para abrir un nuevo debate -->
    <form id="debateForm" action="{{ url_for('new_debate') }}" method="POST" class="forum-form" style="display: none;">
        <h3>Abrir un Nuevo Debate</h3>
        <section class="new-debate">
           
                <label for="titulo">Título</label>
                <input type="text" id="titulo" name="titulo" required>
                
                <label for="descripcion">Descripción</label>
                <textarea id="descripcion" name="descripcion" rows="4" required></textarea>
                
                <label for="punto-de-vista">Mi punto de vista</label>
                <textarea id="punto-de-vista" name="punto-de-vista" rows="4" required></textarea>
                
                <label for="otras-observaciones">Otras observaciones</label>
                <textarea id="otras-observaciones" name="otras-observaciones" rows="4"></textarea>
                
               <button type="submit">Publicar Debate</button>
          
            <a href="#" class="view-rules-link">Ver reglas comunitarias</a>

        </section>
    </form>

    <section class="debates">
        <h3>Debates Recientes</h3>
        <ul>
            {% for debate in debates %}
            <li>
                <h4>{{ debate.titulo }}</h4>
                <p>{{ debate.descripcion }}</p>
                <!-- Add more fields as needed -->
            </li>
            {% endfor %}
        </ul>
    </section>


    <!-- Formulario para hacer una pregunta en el foro -->
    <form id="preguntaForm" action="{{ url_for('new_question') }}" method="POST" class="forum-form" style="display: none;">
       
        <h3>Hacer una Pregunta</h3>
        <section class="ask-question">
           
            <label for="titulo">Título de la Pregunta</label>
            <input type="text" id="titulo" name="titulo" required>

            <textarea id="question-input" placeholder="¿Qué estás pensando?" rows="4"></textarea>

               <button id="publish-button">Publicar</button>

            <a href="#" class="view-rules-link">Ver reglas comunitarias</a>

        </section>
        
    </form>

   
    <section class="questions">
        <h3>Preguntas Recientes</h3>
        <ul>
            {% for question in questions %}
            <li>
                <h4>{{ question.titulo }}</h4>
                <p>{{ question.pregunta }}</p>
               
            </li>
            {% endfor %}
        </ul>
    </section>


    <form id="hiloForm" action="{{ url_for('new_thread') }}" method="POST" class="forum-form" style="display: none;">
        
        <h3>Nuevo Hilo de Conversación</h3>
        <section class="new-conversation">
           
            <label for="conversation-title">Título</label>
            <input type="text" id="conversation-title" name="conversation-title" required>
            
            <label for="conversation-topic">¿De qué quieres hablar?</label>
            <textarea id="conversation-topic" name="conversation-topic" placeholder="Escribe sobre lo que te interesa..." rows="4" required></textarea>
            
            <button type="submit">Publicar tema de conversación</button>
            <a href="#" class="view-rules-link">Ver reglas comunitarias</a>
        </section>

    </form>

    <section class="threads">
        <h3>Hilos de Conversación Recientes</h3>
        <ul>
            {% for thread in threads %}
            <li>
                <h4>{{ thread.titulo }}</h4>
                <p>{{ thread.tema }}</p>
                <!-- Add more fields as needed -->
            </li>
            {% endfor %}
        </ul>
    </section>

    <!-- Botones para ver las formas -->
    

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const formType = "{{ form_type }}";
        if (formType) {
            document.getElementById(formType).style.display = 'block';
        }
    });
</script>

<script src="{{ url_for('static', filename='js/reglasComunitarias.js') }}"></script>


</body>
</html>
