<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clima sostenible</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.4/lottie.min.js"></script>

</head>
<body>
    <div class="logo">C<span>S</span> 
        <span class="lema">Clima Sostenible para un mundo mejor!</span>
        </div>

    <header id="et-top-navigation" class="et_header_style_left">
        <nav>
        
            <ul id="top-menu" class="menu">
                <li class="current-menu-item"><a href="#">Empresas Sostenibles</a></li>
                <li class="current-menu-item"><a href="#">Campañas</a></li>
                <li class="current-menu-item"><a href="#">Ayuda</a></li>
            </ul>
        </nav>
    </header>


    <section class="main">

        <h1>¿Qué es cambio climático?</h1> 
        <p class="resumen"> El cambio climático, resultado de la actividad humana, provoca alteraciones climáticas extremas como sequías e inundaciones. <br>Estos eventos son cada vez más frecuentes y severos, amenazando la seguridad alimentaria, el suministro de agua y la infraestructura. <br>
             Abordar el cambio climático es crucial para proteger nuestro planeta y nuestras comunidades.</p>
        <p class="paris">Sabías que Nicaragua es parte del acuerdo de París?</p>
        <button id="paris">Conocer Acuerdo de Paris</button>
        <p class="compendio">¿Conoces el compendio de leyes de Nicaragua para la protección y conservación del medio ambiente?</p> 
        <button id="compendio">Ver compendio de leyes</button>
        <p class="proteccion">La protección y conservación del medio ambiente responsabilidad de todos y todas.</p> 
        <button id="denuncia">Hacer una denuncia</button>
    </section>

    <hr>

    <section class="dynamic-summary">
        <h2>¿Qué es el cambio climático?</h2>
        <!-- Dynamically generated summary content here -->
    </section>
    <section class="dynamic-summary">
        <h2>Causas y consecuencias</h2>
        <!-- Dynamically generated summary content here -->
    </section>
    <section class="dynamic-summary">
        <h2>Mitigación y adaptación</h2>
        <!-- Dynamically generated summary content here -->
    </section>
    <section class="actions">
        <button class="mitigation-action">Acciones de Mitigación</button>
        <button class="forum-action">Foro</button>
    </section>

   
</body>
</html>
