<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educación y Conciencia Pública</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mitigation-actions.css') }}">
    <link rel="icon" href="../static/images/logo.png" type="image/png">
</head>
<body>
   <header id="et-top-navigation" class="et_header_style_left">
    <nav>
        <div class="hamburger" id="hamburger-menu">
            &#9776; <!-- Hamburger icon -->
        </div>
        <ul id="menu-items" class="hidden">
            <li><a href="{{url_for('verde_nica')}}">Inicio</a></li>
             <li><a href="{{url_for('sustainable_products')}}">Productos Sostenibles</a></li>
            <li><a href="{{url_for('ia')}}">Reconocimiento Especies con IA</a></li>
             <li><a href="{{url_for('biodiversity')}}">Biodiversidad en Nicaragua</a></li>
             <li><a href="{{ url_for('campaigns')}}">Campañas</a></li>
            <li><a href="{{ url_for('forum')}}">Foro</a></li>
            <li><a href="{{url_for('publications')}}">Publicaciones</a></li>
            <li><a href="{{url_for('denounce')}}">Denuncias</a></li>
            <li><a href="{{ url_for('help')}}">Ayuda</a></li>
            <li><a href="{{ url_for('login', next='profile') }}"><i class="fas fa-user-circle"></i> Perfil</a></li>

        </ul>
    </nav>
</header>
    
    <main>
        <section id="content">
            <h2>Educación y Conciencia Pública</h2>
            <p><i class="fas fa-graduation-cap"></i> Promover la educación y la conciencia pública sobre el cambio climático y la importancia de la acción individual y colectiva.</p>
            <p>La educación y la conciencia pública son fundamentales para abordar el cambio climático y promover la sostenibilidad ambiental. La comprensión de los impactos del cambio climático, las causas subyacentes y las soluciones potenciales puede motivar a individuos, comunidades y gobiernos a tomar medidas para reducir las emisiones de gases de efecto invernadero y adaptarse a los efectos del cambio climático.</p>
            <p>La educación sobre el cambio climático puede comenzar en las escuelas, con programas curriculares que enseñen conceptos científicos, ambientales y sociales relacionados con el cambio climático. Los estudiantes pueden aprender sobre la importancia de la conservación de recursos, la eficiencia energética, las energías renovables y las prácticas sostenibles en la vida cotidiana.</p>
            <p>Además de la educación formal, las campañas de concienciación pública pueden informar y movilizar a la sociedad civil sobre temas ambientales y climáticos. Estas campañas pueden utilizar medios de comunicación, redes sociales, eventos comunitarios y acciones de divulgación para difundir información precisa, generar debates constructivos y promover cambios de comportamiento hacia estilos de vida más sostenibles.</p>
            <p>Promover la alfabetización climática y la conciencia pública también puede fortalecer la presión sobre los líderes políticos y las empresas para que adopten políticas y prácticas ambientalmente responsables. Al empoderar a las personas con conocimientos sobre el cambio climático y las soluciones disponibles, podemos crear una base más sólida para la acción colectiva y la implementación de políticas efectivas a nivel local, nacional e internacional.</p>
        </section>
    </main>

<script src="{{ url_for('static', filename='js/menu.js') }}"></script>
</body>
</html>
