<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reciclaje y Reducción de Residuos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/accionesMitigacion.css') }}">
</head>
<body>
    <header>
        <h1>Fomentar la reutilización, el reciclaje y la reducción de residuos</h1>
    </header>
    
    <main>
        <section id="content">
            <h2>Reciclaje y Reducción de Residuos</h2>
            <p><i class="fas fa-recycle"></i> Fomentar la reutilización, el reciclaje y la reducción de residuos.</p>
            <p>La gestión adecuada de residuos es fundamental para reducir la contaminación ambiental, conservar recursos y mitigar el cambio climático. La producción y eliminación de residuos contribuyen significativamente a las emisiones de gases de efecto invernadero y a la degradación del medio ambiente.</p>
            <p>Fomentar la reutilización implica reducir la generación de residuos mediante el uso de productos duraderos y la reparación de objetos en lugar de desecharlos. La reutilización no solo conserva recursos naturales, sino que también reduce la necesidad de extracción de materias primas y la energía requerida para la fabricación de nuevos productos.</p>
            <p>El reciclaje es otro componente clave de la gestión de residuos sostenible. Separar materiales reciclables como papel, cartón, plástico, vidrio y metales y enviarlos a instalaciones de reciclaje ayuda a conservar recursos y reducir las emisiones asociadas con la producción de nuevos materiales. El reciclaje de materiales también puede generar ingresos y empleo en la economía circular.</p>
            <p>Reducir la generación de residuos en primer lugar es fundamental para abordar el problema en su origen. Esto implica minimizar el embalaje innecesario, optar por productos con menos envases y promover prácticas de consumo responsable. La reducción de residuos no solo beneficia al medio ambiente, sino que también puede ahorrar costos a empresas y consumidores al reducir la necesidad de disposición y tratamiento de residuos.</p>
            <p>Las políticas gubernamentales que promuevan el reciclaje obligatorio, la gestión de residuos electrónicos y la reducción de plásticos de un solo uso pueden desempeñar un papel crucial en la transición hacia una economía más circular y sostenible. Al educar a la comunidad sobre la importancia del reciclaje y la reducción de residuos, podemos crear conciencia y fomentar cambios de comportamiento que promuevan la sostenibilidad ambiental a largo plazo.</p>
        </section>
    </main>
</body>
</html>
