<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dietas Sostenibles</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/accionesMitigacion.css') }}">
</head>
<body>
   <header id="et-top-navigation" class="et_header_style_left">
    <nav>
        <div class="hamburger" id="hamburger-menu">
            &#9776; <!-- Hamburger icon -->
        </div>
        <ul id="menu-items" class="hidden">
            <li><a href="{{url_for('verde_nica')}}">Inicio</a></li>
             <li><a href="{{url_for('ps')}}">Productos Sostenibles</a></li>
            <li><a href="{{url_for('ia')}}">Reconocimiento Especies con IA</a></li>
             <li><a href="{{url_for('biodiversidad')}}">Biodiversidad en Nicaragua</a></li>
             <li><a href="{{ url_for('campanias')}}">Campañas</a></li>
            <li><a href="{{ url_for('forum')}}">Foro</a></li>
            <li><a href="{{url_for('publicaciones')}}">Publicaciones</a></li>
            <li><a href="{{url_for('denuncia')}}">Denuncias</a></li>
            <li><a href="{{ url_for('ayuda')}}">Ayuda</a></li>
            <li><a href="{{ url_for('login', next='profile') }}"><i class="fas fa-user-circle"></i> Perfil</a></li>

        </ul>
    </nav>
</header>
    <main>
        <section id="content">
            <h2>Dietas Sostenibles</h2>
            <p><i class="fas fa-carrot"></i> Adoptar dietas más sostenibles, reduciendo el consumo de carne y productos lácteos.</p>
            <p>Las dietas sostenibles juegan un papel crucial en la reducción de las emisiones de gases de efecto invernadero, la preservación de los recursos naturales y la mejora de la salud humana. La producción de carne y productos lácteos es intensiva en recursos, requiriendo grandes cantidades de agua, tierra y alimentos para el ganado.</p>
            <p>Reducir el consumo de carne y productos lácteos puede disminuir la demanda de tierras de cultivo para la producción de alimento para ganado, permitiendo la reforestación y la restauración de ecosistemas degradados. Además, una dieta basada en plantas tiene un menor impacto ambiental en términos de huella de carbono, uso del agua y contaminación.</p>
            <p>Optar por fuentes sostenibles de proteínas como legumbres, frutos secos y productos de origen vegetal no solo es más ecológico, sino que también puede mejorar la salud cardiovascular y reducir el riesgo de enfermedades crónicas relacionadas con la dieta. Incorporar más alimentos de origen vegetal en la dieta diaria es una forma efectiva de contribuir a la sostenibilidad global y promover un estilo de vida saludable.</p>
            <p>Las políticas y campañas educativas que promuevan dietas más sostenibles pueden incentivar a individuos y comunidades a hacer elecciones alimentarias más conscientes y respetuosas con el medio ambiente. Al trabajar juntos para reducir el consumo de productos de origen animal y aumentar la diversidad de alimentos vegetales en nuestras dietas, podemos contribuir significativamente a la mitigación del cambio climático y la conservación de recursos naturales.</p>
        </section>
    </main>

<script src="{{ url_for('static', filename='js/menu.js') }}"></script>
</body>
</html>
