<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecnologías de Captura y Almacenamiento de Carbono</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mitigation-actions.css') }}">
</head>
<body>
    <header id="et-top-navigation" class="et_header_style_left">
    <nav>
        <div class="hamburger" id="hamburger-menu">
            &#9776; <!-- Hamburger icon -->
        </div>
        <ul id="menu-items" class="hidden">
            <li><a href="{{url_for('verde_nica')}}">Inicio</a></li>
             <li><a href="{{url_for('ps')}}">Productos Sostenibles</a></li>
            <li><a href="{{url_for('ia')}}">Reconocimiento Especies con IA</a></li>
             <li><a href="{{url_for('biodiversidad')}}">Biodiversidad en Nicaragua</a></li>
             <li><a href="{{ url_for('campanias')}}">Campañas</a></li>
            <li><a href="{{ url_for('forum')}}">Foro</a></li>
            <li><a href="{{url_for('publicaciones')}}">Publicaciones</a></li>
            <li><a href="{{url_for('denuncia')}}">Denuncias</a></li>
            <li><a href="{{ url_for('ayuda')}}">Ayuda</a></li>
            <li><a href="{{ url_for('login', next='profile') }}"><i class="fas fa-user-circle"></i> Perfil</a></li>

        </ul>
    </nav>
</header>
    
    <main>
        <section id="content">
            <h2>Tecnologías de Captura y Almacenamiento de Carbono</h2>
            <p><i class="fas fa-cloud-upload-alt"></i> Invertir en tecnologías de captura y almacenamiento de carbono para reducir las emisiones de CO2.</p>
            <p>Las tecnologías de captura y almacenamiento de carbono (CAC) son herramientas clave para reducir las emisiones de dióxido de carbono (CO2) de fuentes industriales y energéticas. Estas tecnologías implican la captura del CO2 generado por plantas de energía, refinerías y otras instalaciones industriales antes de que se libere a la atmósfera, seguida de su transporte y almacenamiento seguro a largo plazo en formaciones geológicas profundas, acuíferos salinos o en procesos de utilización industrial.</p>
            <p>La captura y almacenamiento de carbono puede ayudar a mitigar el cambio climático al reducir las emisiones de CO2 y evitar su liberación a la atmósfera. Esta tecnología también puede ser crucial para mantener el cumplimiento de los objetivos de reducción de emisiones a largo plazo y apoyar la transición hacia una economía baja en carbono.</p>
            <p>Aunque las tecnologías de CAC aún enfrentan desafíos técnicos y económicos, las inversiones en investigación y desarrollo pueden mejorar la eficiencia y reducir los costos asociados. Además, las políticas gubernamentales que apoyan la investigación de tecnologías de CAC, proporcionan incentivos financieros y establecen marcos regulatorios claros pueden facilitar la adopción y implementación de estas tecnologías a gran escala.</p>
            <p>Invertir en tecnologías de captura y almacenamiento de carbono no solo puede contribuir a la mitigación del cambio climático, sino que también puede ofrecer oportunidades económicas al impulsar la innovación tecnológica y la creación de empleo en el sector de la energía limpia. Al integrar CAC con otras estrategias de reducción de emisiones, podemos avanzar hacia un futuro más sostenible y resiliente para las generaciones futuras.</p>
        </section>
    </main>

<script src="{{ url_for('static', filename='js/menu.js') }}"></script>
</body>
</html>
